apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: {{ argocd_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: {{ argocd_chart_repo }}
    chart: {{ argocd_chart_name }}
    targetRevision: {{ argocd_chart_version }}
    helm:
      releaseName: {{ argocd_release_name }}
      valuesObject:
{{ argocd_helm_values | to_nice_yaml(indent=2) | indent(8, first=True) }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ argocd_namespace }}
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
