apiVersion: v1
kind: Config
clusters:
  - name: k3s-cluster
    cluster:
      server: https://{{ k3s_server_ip }}:6443
      certificate-authority-data: {{ ca_cert_b64 }}
contexts:
  - name: k3s-admin
    context:
      cluster: k3s-cluster
      user: cluster-admin-sa
users:
  - name: cluster-admin-sa
    user:
      token: {{ sa_token }}
current-context: k3s-admin
